.dark-theme {
    --bg-color: #1C1E22;
    --text-color: #d6dce5;
    --default-color: rgb(0, 166, 255);
    --bg-color-block: rgb(37, 35, 35);
    --hover-color: rgba(187, 235, 255, 0.203);
    --border-color: rgba(128, 128, 128, 0.247);
}