.white-theme {
    --bg-color: rgb(241, 241, 241);
    --text-color: black;
    --default-color: rgb(0, 166, 255);
    --bg-color-block: rgb(248, 248, 248);
    --hover-color: rgba(187, 235, 255, 0.901);
    --border-color: rgba(128, 128, 128, 0.247);
}